{% extends "base.html" %}
{% block title %}lista contatti{% endblock title %}
{% block content %}

<table border="1" style="border-collapse: collapse; width: 100%;">
    <tr>
        <th style="padding: 10px; border: 1px solid black;">Nome</th>
        <th style="padding: 10px; border: 1px solid black;">Cognome</th>
        <th style="padding: 10px; border: 1px solid black;">Email</th>
        <th style="padding: 10px; border: 1px solid black;">Contenuto</th>
    </tr>
    {% for contatto in contatti %}
    <tr>
        <td style="padding: 10px; border: 1px solid black;">{{ contatto.nome }}</td>
        <td style="padding: 10px; border: 1px solid black;">{{ contatto.cognome }}</td>
        <td style="padding: 10px; border: 1px solid black;">{{ contatto.email }}</td>
        <td style="padding: 10px; border: 1px solid black;">{{ contatto.contenuto }}</td>
    </tr>
    {% endfor %}
</table>
    
    

{% endblock content %}