{% extends "base.html" %}
{% block title %}
    Lista tutti articoli
{% endblock title %}
{% block content %}
    {% for articolo in articoli %}
    <p><strong>Titolo:</strong>
        <a href={% url 'news:articolo_detail' corsi.id %}>{{corso.titolo}}</a>
        </p>
        <li><p><strong>Descrizione: </strong>{{corsi.descrizione}}</p></li>
        <li><p><strong>Data inizio: </strong>{{corsi.data_inizio}}</p></li>
        <li><p><strong>Data fine: </strong>{{corsi.data_fine}}</p></li>
        <li><p><strong>Data inizio: </strong>{{corsi.data_inizio}}</p></li>
    {% endfor %}
{% endblock content %}